{{ payload_string|json_script:"payload-data" }}
{{ soc_allowed_content_screens|json_script:"allowed-content-screens" }}

<script>
    var soc_force_version = "{{ soc_version }}";
</script>
<script src="https://cdn.socratease.co/socratease.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
<script>
    const allowedCs = JSON.parse(document.getElementById("allowed-content-screens").textContent);
    const options = {
        ui: { navbar: { brand_name: "{{ brand_name }}" } },
        cms: {
            contentPieces: {
                showSections: ["quiz", "coding_challenge"],
                units: {
                    showScreenByScreen: true,
                    cardActions: {
                        threeDots: ["clone"],
                        onCard: ["preview", "settings", "delete"],
                    },
                    all: {
                        isEnabledExcelImport: true,
                    },
                    quiz: {
                        allowedCs: allowedCs,
                        excludeSettings: ["visible", "accessLevel", "maxAttempts"],
                    },
                },
            },
        },
    };

    window.addEventListener("socLibLoad", () => {
        const jsonPayload = JSON.parse(document.getElementById("payload-data").textContent);
        const hmacPayload = "{{ hmac_payload }}";
        const clientId = "{{ soc_client_id }}";
        Socratease.init(clientId, jsonPayload, hmacPayload, options);
    });
</script>
<div id="soc-main-app"></div>
